<div class="bg-white shadow-md rounded-lg p-6 mb-6">
    <h2 class="text-xl font-semibold mb-4">History</h2>
    <ul class="divide-y divide-gray-200">
      <li *ngFor="let transaction of transactions$ | async" class="py-3 flex justify-between items-center">
        <span [ngClass]="{'text-green-600': transaction.amount > 0, 'text-red-600': transaction.amount < 0}">
          {{ transaction.text }}
        </span>
        <div class="flex items-center">
          <span [ngClass]="{'text-green-600': transaction.amount > 0, 'text-red-600': transaction.amount < 0}" class="mr-2">
            {{ transaction.amount > 0 ? '+' : '' }}₦{{ transaction.amount | number:'1.2-2' }}
          </span>
          <button (click)="deleteTransaction(transaction.id)" class="text-red-600 hover:text-red-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>